<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<canvas width="1920" height="1080">
		Your browser doesn't support the <code>canvas</code> tag. Please use a different browser to play this game.
	</canvas>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/scripts/fish.js"></script>
	<script src="/scripts/script.js"></script>
	<script src="/scripts/canvas.js"></script>
</body>
</html>
