<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
	<canvas>
		Your browser doesn't support the <code>canvas</code> tag. Please use a different browser to play this game.
	</canvas>
	<script src="/lib/jquery.min.js"></script>
	<script src="/scripts/script.js"></script>
</body>
</html>